<div class="footer">
    <div class="row">
        <div class="col-sm-4">
            <ul class="footerul">
                <li class="footerli">CONTACT:</li>
                <li class="footerli1"> <a href="tel:+916383451650"> 6383451850</a></li>
                <li class="footerli1"> <a href="tel:+9173736808">73736808</a></li>
            </ul>
        </div>

        <div class="col-sm-4">
            <ul class="footerul">
                <li class="footerli">CONNECT:</li>
                <li class="footerli1">
                    <a href="https://www.facebook.com/profile.php?id=100023791251520" target="_blank"> <i class=" fa fa-facebook-official" style="font-size:24px"> <span class="iconfont" > - facebook</span> </i></a>


                </li>

                <li class=" footerli1 ">
                    <a href="https://www.instagram.com/__karthi____k/" target="_blank"> <i class="fa fa-instagram " style="font-size:24px "><span class="iconfont"> - instagram</span></i></a>
                </li>
            </ul>
        </div>


        <div class="col-sm-4 ">
            <ul class="footerul ">
                <li class="footerli ">LOCATION:</li>
                <li class="footerli1 "><a href="https://www.google.co.in/maps/dir//Kumaraguru+College+of+Technology,+Athipalayam+Rd,+Chinnavedampatti,+Coimbatore,+Tamil+Nadu+641049/@11.0777601,76.9546476,13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x3ba8f81b7514a15f:0x155e29f8d14154fc!2m2!1d76.9896672!2d11.0777621!3e1 ">map route(click)</a></li>
                <li class="footerli1 ">
                    <a href=" "> karthikeyan.18cs@kct.ac.in</a>
                </li>
            </ul>
        </div>
    </div>

</div>



</body>

</html>