<!DOCTYPE html>
<html>

<head>
    <title>food ordering</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Crimson+Text:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Dancing+Script:wght@700&family=PT+Serif:ital,wght@1,700&family=Varela+Round&display=swap" rel="stylesheet">
    <base href="/">
    <link rel="stylesheet" href="app.css" type="text/css">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <div>



        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/flash">flash</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav-me">
                    <li class="nav-item active">
                        <a class="nav-link" href="/flash/menu">menu <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/flash/about">about <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/flash/h&l">hourse & location <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/flash/feedback">feedback <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/flash/reservation">reservations <span class="sr-only">(current)</span></a>
                    </li>
                    <%  if(currentuser){ %>
                        <li class="nav-item active">
                            <a class="nav-link" href="/flash/logout">logout <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active nav-link nav-f" style="color:brown;font-family: cursive; margin-left: 30px;">
                            <%= currentuser.username %>
                        </li>

                        <%  } else { %>

                            <li class="nav-item active">
                                <a class="nav-link" href="/flash/login">login <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/flash/signup">signup <span class="sr-only">(current)</span></a>
                            </li>

                            <%  } %>


                                <div>


                                </div>




                </ul>
            </div>
        </nav>



    </div>