<%- include('partials/header')%>

    <div>

        <div class="back">

            <h1 class="middle">ABOUT</h1>
        </div>
        <div class="container"> <br><br><br>
            <P class="stdsize">Located in the coimbatore near kumaraguru college, flash captures the warmth and comfort of a indian style,with a menu that reflects the rich culture</P>
            <br><br>
            <p class="stdsize"> Flash is open conntinuously throughout the day ,offerig breakfast,lunch,weekend brunch and dinner,as well as late-night,weekday happy hour and coffee</p>
            <br><br>

        </div>
        <div class="container">
            <div class="row">
                <div class="col col-sm-12 col-lg-6">
                    <ul class="names">
                        <br> <br>
                        <li>
                            <h2 class="stdhsize abouthead"><strong>BACK OF HOUSE</strong></h2>
                        </li><br>

                        <li>
                            <p class="aboutname"> YUVA PRASATH</p>
                            <h9 class="work">chef de cuisine</h9>
                        </li><br>
                        <li>
                            <p class="aboutname">ASHWI HUNDAI </p>
                            <h9 class="work">executive sous chef</h9>
                        </li><br>
                        <li>
                            <p class="aboutname"> GOGULA KANAA</p>
                            <h9 class="work">ice cream chef</h9>
                        </li><br>
                        <li>
                            <p class="aboutname"> ARUN KUMAR </p>
                            <h9 class="work">shake chef</h9>
                        </li><br>
                        <li>
                            <p class="aboutname"> BAT MAN </p>
                            <h9 class="work">fruit shake chef</h9>
                        </li><br>

                        <li>
                            <p class="aboutname">KSHORE RAGHUL</p>
                            <h9 class="work">sous chef</h9>
                        </li><br>
                        <li>
                            <p class="aboutname">REVANTH </p>
                            <h9 class="work">stewardig supervisor</h9>
                        </li><br>



                    </ul>
                </div>
                <div class="col col-sm-12 col-lg-6">
                    <ul class="names">
                        <br><br>
                        <li>
                            <h2 class="stdhsize abouthead"><strong>FRONT OF HOUSE</strong></h2>
                        </li><br>
                        <li>
                            <p class="aboutname"> LOKESH</p>
                            <h9 class="work">dining room manager</h9>
                        </li><br>
                        <li>
                            <p class="aboutname"> MANGESH </p>
                            <h9 class="work">dining room manager</h9>
                        </li><br>
                        <li>
                            <p class="aboutname"> KAVIN</p>
                            <h9 class="work">dining room manager</h9>
                        </li><br>

                        <li>
                            <p class="aboutname"> MADA </p>
                            <h9 class="work">dining room manager</h9>
                        </li><br>
                        <li>
                            <p class="aboutname"> RAZEEN </p>
                            <h9 class="work">director of private events</h9>
                        </li><br>
                        <li>
                            <p class="aboutname">SITHTHANADHAN</p>
                            <h9 class="work">private dining</h9>
                        </li><br>
                        <li>
                            <p class="aboutname"> SAKTHIVELL</p>
                            <h9 class="work">private dining</h9>
                        </li><br>

                    </ul>

                </div>
                <div class="w-100"></div>

            </div>
        </div>




    </div>
    <%- include('partials/footer')%>