<%- include('partials/header')%>

    <form action="/flash/deletemenu" method="POST">
        <label for="">this will delete wole menu</label>
        <input type="text" name="password" placeholder="password">
        <label for="">delete dinnerdish</label>
        <input type="text" name="dinnerdelete" placeholder="dinnerdish">

        <button type="submit">delete</button>
    </form>




    <%- include('partials/footer')%>