<%- include('partials/header')%>
    <div>

        <div class="back">

            <h1 class="middle">HOURSE AND LOCATION</h1>
        </div>


        <div class="hourstext"> <br><br> <br><br>
            <h1 class="stdhsize">FLASH</h1>
            <br>
            <P class="stdsize">near kumaraguru college, </P>
            <p class="stdsize">chinnavedampatti,Coimbatore,</p>
            <p class="stdsize">641049.</p>


            <h4 class="h4"><strong>Breakkfast</strong></h4>
            <p class="stdsize">Monday - Friday | 7:30 a.m. - 10:00 a.m.</p>
            <h4 class="h4"><strong>Lunch</strong></h4>
            <p class="stdsize">Monday - Friday | 12:00 p.m. - 2:00 p.m.</p>
            <h4 class="h4"><strong>Dinner</strong></h4>
            <p class="stdsize">Monday - Friday | 5:30 p.m. - 10:00 p.m.</p>
            <p class="stdsize">saturday - sunday | 5:30 p.m. - 10:30 p.m.</p>
            <h4 class="h4"><strong>Weekend coffee & Pastry</strong></h4>
            <p class="stdsize">Saturday - sunday | 8:00 a.m. - 10:00 a.m.</p>
            <h4 class="h4"><strong>weekend brunch</strong></h4>
            <p class="stdsize"> saturday - sunday | 10:00 a.m. - 2:30 p.m.</p><br> <br><br>
            <p class="stdsize"> <a class="menubtn" href="https://www.google.com/maps/dir//Kumaraguru+College+of+Technology,+Athipalayam+Rd,+Chinnavedampatti,+Coimbatore,+Tamil+Nadu+641049/@11.0777601,76.9546476,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba8f81b7514a15f:0x155e29f8d14154fc!2m2!1d76.9896672!2d11.0777621!5m1!1e4">GET LOCATION</a></p>
            <br><br>

        </div><br>





    </div>

    <%- include('partials/footer')%>