<%- include('partials/header')%>
    <div>
        <img src="./images/firstpage.jpg" height="700px" width="100%">
    </div>
    <div class="home">
        <div class="menuspace">
            <h1 class="homehead"><strong>MENU</strong></h1>
            <P class="about"> flash food captures the warmth and comfort of a Roman trattoria , with a menu that reflects the rich cultures of both Rome and New York</P>

            <a href="/flash/menu" class="menubutton">VIEW MENU </a>
        </div>


        <div class="dinningspace">
            <h1 class="homehead"><strong>ABOUT</strong></h1>
            <P class="about"> Flash Is Open Continuously Throughout The Day ,Offerig Breakfast,Lunch,Weekend Brunch And Dinner,As Well As Late-Night,Weekday Happy Hour And Coffee</P>

            <a href="/flash/about" class="menubutton">LEARN MORE </a>
        </div>




        <div class="reservationspace">
            <h1 class="homehead"><strong>RESERVATION</strong></h1>
            <P class="about"> Maialino is open 7 days a week. In our main dining room, we offer reservations for breakfast, brunch, lunch, and dinner. Bar Maialino is open daily, serving food - no reservations, just walk in.</P>

            <a href="/flash/newreservation" class="menubutton">MAKE A RESERVATION </a>
        </div>



    </div>

    <%- include('partials/footer')%>